*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#cursor{
    height: 20px;
    width:20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
}