*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
     overflow-x: hidden;
}
#cursor{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius:50% ;
    position: fixed;
    pointer-events: none;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px   50px;
    
}
#pt2{
    display: flex;
    gap: 50px;
}
#hero{
    height: 100%;
    width: 100%;
    background-color: rgb(1, 2, 39);
}
#nav h2{
    color: #fff;
}
#nav h4{
    color: #fff;
}
#skills{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
#skills h1{
    color:rgb(1, 2, 39);
    font-size: 40vw;
    white-space: nowrap;
}
#project{
    height: 100%;
    width: 100%;
    background-color: rgb(1, 2, 39);
}
#box{
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #fff;
}